.main-layout-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.header-wrapped {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding: 1rem;
  justify-content: flex-end;
  height: 10vh;
  min-height: 50px;
}

.layout-wrapper {
  box-sizing: border-box;
  width: 75%;
  height: 90vh;
  overflow: auto;
}
